body{
    font-family: 'Montserrat';
}

#title{
    background-color: #FF4c68;
    color: white;
}

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color:#fff;
}

h1 {  
    font-family:'Ubuntu';
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900px;
}

h2{
    font-family: "Ubuntu";
    line-height: 1.5;
    font-size: 3rem;
}

h3{
    font-family: 'Ubuntu';
    font-size: 1.5rem;
}

p{
    color: #8f8f8f;

}

.container-fluid{
    padding: 3% 15% ;
}
.navbar{
    padding-bottom: 4.5rem;
}

.navbar-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem; ;
    font-family: "Monstserrat" ;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;

}

.download-button{
    margin: 5% 3% 5% 0%;
}

.title-image{
    width: 300px;
    transform: rotate(25deg);
    position: absolute;
}
.title-img-cont{
    position: relative;
}

#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
}

.carousel-item{
    padding: 7% 15%;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px ;
}

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

@media(max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0)
    }
}

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
    font-size: 3rem;
    color: #fff;    
}

.cont{
    font-family: "Ubuntu";
    font-size: 3.5rem;
    line-height: 1.5;
}

#footer{
    background-color:white ;
    text-align: center;
    padding: 5% 5%;
}

.social-icon{
    margin: 20px 10px;
}
